<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TeacherMapper">
	<insert id="joinTeacher" parameterType="com.choa.member.teacher.TeacherDTO">
		insert into teacher values(#{id}, #{subject}, sysdate)
	</insert>
	<select id="memberPage" parameterType="java.lang.String" resultType="com.choa.member.teacher.TeacherDTO">
  		select * from teacher where tid=#{id} 
  	</select>
  	  	<select id="memberLogin" parameterType="com.choa.member.MemberDTO" resultType="com.choa.member.teacher.TeacherDTO">
  		select M.*, T.* from member M, teacher T 
  		where M.id=#{id} and M.pw=#{pw} and M.id=T.tid 
  	</select>

</mapper>